<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <title><%= drink.name %></title>
</head>
<body>
  <div class="drink-detail-container">
    <h1><%= drink.name %></h1>
    <% if (drink.image) { %>
      <img class="detail-img" src="<%= drink.image %>" alt="<%= drink.name %>">
    <% } else { %>
      <p>No image available</p>
    <% } %>
    <p><%= drink.description %></p>
    <% if (drink.ingredients && drink.ingredients.length) { %>
      <ul>
        <% drink.ingredients.forEach(item => { %>
          <li><%= item %></li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No ingredients available.</p>
    <% } %>
    <a href="/menu">Back to menu</a>
  </div>
</body>
</html>