<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title><%= drink.name %></title>
</head>
<body>
  <div class="drink-detail-container">
    <h1><%= drink.name %></h1>
    <img class="detail-img" src="<%= drink.image %>" alt="<%= drink.name %>">
    <p><%= drink.description %></p>
    <ul>
      <% drink.ingredients.forEach(item => { %>
        <li><%= item %></li>
      <% }) %>
    </ul>
    <a href="/menu">Back to menu</a>
  </div>
</body>
</html>